@import "bootstrap";

$light-color: #F2A007;
$midlight-color: #DF6204;
$mid-color: #354D29;
$shadow-color: #0E262A;
$dark-color: #0F1A1C;

$font-stack:    Helvetica, sans-serif;

$menu-text: 2rem;

body {
  font: 100% $font-stack;
  font-size: 16px;
  background-color: $dark-color;
  color: $midlight-color;

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: $midlight-color;
  }

  a:hover {
    text-decoration: none;
    color: $light-color;
  }
}

.header {
  font-size: $menu-text;
  color: $midlight-color;
  border-style: solid;
  border-width: 1px;
  border-color: $midlight-color;
}

.header-items-list {
  display: inline;
}

.header-active {
  background-color: $mid-color;
}

.footer {
  font-size: $menu-text;
  color: $midlight-color;
  border-style: solid;
  border-width: 1px;
  border-color: $midlight-color;
}