<form ng-submit="reg.register()">
    <h1>Register new user</h1>
    <div>
        <label>Username:</label>
        <input type="text" name="username" ng-model="reg.name" /><br/>
    </div>
    <div>
        <label>email:</label>
        <input type="text" name="username" ng-model="reg.email" /><br/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" ng-model="reg.pass" />
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>